<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a ui-sref="dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a ui-sref="listado_propiedades"><i class="fa fa-university fa-fw"></i> Propiedades</a>
            </li>
            <li>
                <a ui-sref="dashboard"><i class="glyphicon glyphicon-bullhorn"></i> Campañas</a>
            </li>
            <li>
                <a ui-sref="dashboard"><i class="glyphicon glyphicon-comment"></i> Mensajes</a>
            </li>
            <li>
                <a ui-sref="dashboard"><i class="glyphicon glyphicon-calendar"></i> Reservas</a>
            </li>
            <li>
                <a ui-sref="dashboard"><i class="glyphicon glyphicon-piggy-bank"></i> Facturación</a>
            </li>
            <li>
                <a ui-sref="dashboard"><i class="glyphicon glyphicon-cog"></i> Configuración</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->